.portfolio-item {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

  .desc {
    position: absolute;
    bottom: 10px;
    left: 10px;
    bottom: -100%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.319);
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    transition: 0.4s all ease-in-out;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);

    h3 {
      font-size: 25px;
    }

    span {
      font-size: 12px;
      display: flex;
      align-items: center;

      .icon {
        margin-left: 5px;
        transition: 0.3s;
      }
    }

    &:hover {
      span {
        .icon {
          margin-left: 10px;
        }
      }
    }
  }

  &:hover {
    .desc {
      bottom: 20px;
    }
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .portfolio-item {
    img {
      height: 180px;
    }
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .portfolio-item {
    img {
      height: 150px;
    }
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .portfolio-item {
    img {
      height: 200px;
    }
  }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
